ul li {
  list-style-type: none;
}
.pagination_container ul {
  display: flex;
  justify-content: center;
  font-size: large;
}
.pagination_container ul li {
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 3px;
}

.pagination_container ul li:first-child {
  padding: 5px 10px;
  border-radius: 100%;
  background-color: #8080804a;
}
